body{
    background-color:rgb(212, 225, 250);
    font-family:sans-serif;
}
.app h1{
    display: flex;
    justify-content:center ;
    align-items:center ;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: gray;
    text-align: center;
    margin-left: 500px ;
}
.merge{
    position: relative;
    top: 20px;
    display: flex;
    justify-content: center;
    gap: 200px;
    } 